/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
.loading-screen{
    width: 100%;
    height: 100vh;
    background-color: #6a89cc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    animation: fade .5s forwards linear;
    animation-delay: 5s;
}
@keyframes fade{
    from{
        opacity: 1;
        pointer-events: all;
        overflow: hidden;
    }
    to{
        opacity: 0;
        pointer-events: none;
        overflow: auto;
    }
}
.loading-screen::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #f8c291;
    left: 20%;
    transform: translateX(-50%) rotate(0);
    border-radius: 20px;
    animation: loading 4s infinite linear;
}
@keyframes loading{
    from{
        transform: translate(-50%) rotate(0deg);
        overflow: hidden;
    }
    50%{
        left: 80%;
    }
    to{
        transform: translate(-50%) rotate(1440deg);
    }
}
.loadingTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
}
.loadingTitle h2{
    color: #ffffff;
    font-family: 'Oleo Script', cursive;
    font-size: xx-large;
    letter-spacing: 3px;
    animation: fadeTitle .5s forwards linear;
    animation-delay: 5s;
}
@keyframes fadeTitle{
    from{
        opacity: 1;
        pointer-events: all;
        overflow: hidden;
    }
    to{
        opacity: 0;
        pointer-events: none;
        overflow: auto;
    }
}